<ion-view view-title="Dashboard">
  <ion-content>


    <div class="container">

    <!-- from greenfield -->

    <!--   <button type="button" class="btn btn-success" ng-click="toggleSampleData()">Toggle Sample Data</button>
      <br><br>
     -->  
     <div class="row header habits info">
      <div class="col">Daily Checkin</div>
      <div class="col">Habit</div>
      <div class="col">Reminder</div>
      <div class="col">Due</div>
      <div class="col">Current Streak</div>
      <div class="col">Record Streak</div>
      <div class="col">Edit Habit</div>
     </div>
     <div class="row" ng-repeat="habit in habits | filter:{active:true}">
      <button ng-if="buttonState(habit, 'pending')" type="button" class="btn btn-success" ng-click="checkinHabit(habit)">Did-it!</button>
      <button ng-if="buttonState(habit, 'completed')" type="button" class="btn btn-info disabled">Completed</button>
      <button ng-if="buttonState(habit, 'failed')" type="button" class="btn btn-danger disabled">Failed</button>
      <div class="col">{{habit.habitName}}</div>
      <div class="col">{{habit.reminderTime | date:'shortTime'}}</div>
      <div class="col">{{habit.dueTime | date:'shortTime'}}</div>
      <div class="col">{{habit.streak}}</div>
      <div class="col">{{habit.streakRecord}}</div>               
      <button ng-if="!sample" type="button" class="btn btn-primary" ng-click="editHabit(habit)">Edit</button>
     </div>
      <div class="row">
        <div class="col-md-2">
          <h2>Habit Score</h2>
        </div>
        <div class="col-md-10">
          <h2>Current Streak</h2>
        </div>
      </div>
      <div class="row" ng-if="habits">
        <div class="col-md-2 donut-col">
          <c3chart ng-if="totalCompleted || totalFailed" class="donut" bindto-id="donut-plot1-chart">
            <div ng-repeat="habit in habits">
              <chart-column column-id="{{'Completed &quot;' + habit.habitName + '&quot;'}}"
                          column-values="{{habit.checkinCount}}"
                          column-type="donut"
                          column-color="{{colors[$index]}}"/>
            </div>
            <chart-column column-id="Failed"
                        column-values="{{totalFailed}}"
                        column-type="donut"
                        column-color="#d62728"/>
            <chart-legend show-legend="false">
            <chart-donut title="{{score}}" show-label="false"/>
            <chart-tooltip value-format-function="formatDonut"/>
          </c3chart>
          <h3 ng-if="!totalCompleted">No score data</h3>
        </div>
        <div class="col-md-10">
          <div class="graph" id="current-streak">
            <div ng-if="habitStreaks.length">
              <d3-bars data="habitStreaks"></d3-bars>
            </div>
            <!-- Placeholder streak data -->
            <h3 ng-if="!habitStreaks.length">No streak data</h3>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
